---
interface Props {
  Productimage: string;
  ProductName: string;
}

const { Productimage, ProductName } = Astro.props;
---

<div
  class="rounded-lg shadow-md p-6 transform hover:scale-102 hover:drop-shadow-2xl hover:bg-[#cceeff] hover:opacity-70 transition duration-500"
>
  <img src={Productimage} alt="" class="mx-auto w-3/4 rounded-md" />
  <h2 class="text-lg font-semibold mt-4">{ProductName}</h2>
</div>
